h1 {
    text-align: center;
}

.thumbnail {
    width: 200px;
    height: auto;
}

input[type='radio'] {
    display: none;
}

.star {
    cursor: pointer;
    transition: color 200ms;
}

.movie-container {
    border: 3px solid black;
    margin-top: 20px;
    margin-bottom: 20px;

}

.reviewContainer {
    border: 1px solid darkgray;

}